@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url(normalize.css);
/* Variables */
* {
  padding: 0;
  margin: 0; }

html {
  font-family: Lato, sans-serif; }

body {
  width: 100%; }

a {
  text-decoration: none; }

a:visited {
  color: unset; }

li {
  list-style-type: none; }

.fixed {
  position: fixed;
  z-index: 100; }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .hero--section {
    background-size: 75%;
    background-position: -80px 47px; }

  .intel-container {
    padding-top: 10px; }

  .info-container {
    max-width: 317px; }
    .info-container .info-title {
      font-size: 41px; }
    .info-container .info-subtitle {
      font-size: 22px; } }
header {
  width: 100%; }
  header .menu-desktop {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-height: 75px; }
    @media screen and (max-width: 992px) {
      header .menu-desktop {
        display: none; } }
    header .menu-desktop .main-list {
      width: 30%;
      max-width: 400px;
      align-items: center;
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 1024px) {
        header .menu-desktop .main-list {
          width: 35%; } }
      header .menu-desktop .main-list .main-item {
        width: 25%;
        color: #474747;
        text-transform: uppercase;
        text-align: center; }
        header .menu-desktop .main-list .main-item:nth-of-type(1) {
          width: 65px;
          align-self: flex-start;
          background-color: #f20029;
          height: 200px;
          z-index: 100; }
          header .menu-desktop .main-list .main-item:nth-of-type(1) img {
            width: 65px;
            height: auto;
            align-self: center; }
        header .menu-desktop .main-list .main-item .main-link:nth-of-type(1) {
          background-image: url(); }
        header .menu-desktop .main-list .main-item .main-link:hover {
          color: orange;
          border-bottom: solid 2px orange; }
    header .menu-desktop .second-list {
      max-width: 500px;
      width: 40%;
      color: #a6a6a6;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-right: 10px; }
      @media screen and (max-width: 1240px) {
        header .menu-desktop .second-list {
          width: 55%;
          max-width: 550px; } }
      header .menu-desktop .second-list .first-row, header .menu-desktop .second-list .second-row {
        display: flex;
        justify-content: space-around;
        align-items: center; }
      header .menu-desktop .second-list .first-row .first-row-items {
        margin: 0 7.5px; }
      header .menu-desktop .second-list .first-row .chat:before {
        align-self: center;
        background-image: url("../img/chat.svg");
        width: 20px;
        height: 20px;
        content: ' ';
        display: inline-block;
        background-size: 20px;
        background-repeat: no-repeat; }
      header .menu-desktop .second-list .first-row.stretched-row {
        width: 40%;
        max-width: unset; }
      header .menu-desktop .second-list .second-row {
        padding-bottom: 5px; }
        header .menu-desktop .second-list .second-row .second-row-items {
          max-height: 21px; }
          header .menu-desktop .second-list .second-row .second-row-items .second-row-link {
            padding: 3px 0 0 3px; }
          header .menu-desktop .second-list .second-row .second-row-items .search {
            width: 100%;
            max-width: 200px;
            background-position: 10px center;
            color: #a6a6a6;
            padding: 0 10px 0 35px;
            background-color: #fff;
            background-image: url(../img/search.svg);
            background-size: 18px;
            background-repeat: no-repeat;
            border-radius: 20px;
            border: 1px solid #a6a6a6; }
            header .menu-desktop .second-list .second-row .second-row-items .search:focus {
              outline: none; }
        header .menu-desktop .second-list .second-row .work:before, header .menu-desktop .second-list .second-row .community:before, header .menu-desktop .second-list .second-row .user:before, header .menu-desktop .second-list .second-row .cart:before {
          width: 20px;
          height: 20px;
          display: inline-block;
          content: ' ';
          background-size: 20px;
          background-repeat: no-repeat;
          cursor: pointer; }
        header .menu-desktop .second-list .second-row .work:before {
          background-image: url("../img/work.svg"); }
        header .menu-desktop .second-list .second-row .community:before {
          background-image: url("../img/community.svg"); }
        header .menu-desktop .second-list .second-row .user:before {
          background-image: url("../img/user.svg"); }
        header .menu-desktop .second-list .second-row .cart:before {
          background-image: url("../img/cart.svg"); }
        header .menu-desktop .second-list .second-row.stretched-row {
          width: 60%;
          max-width: unset;
          justify-content: space-around; }
      header .menu-desktop .second-list.stretched {
        display: flex;
        flex-direction: row;
        width: 60%;
        max-width: unset;
        justify-content: center;
        padding-right: 0px; }
  header .mobile-menu {
    width: 100%;
    display: none;
    background-color: #ffffff; }
    @media screen and (max-width: 992px) {
      header .mobile-menu {
        display: block; } }
    header .mobile-menu .menu-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px; }
      header .mobile-menu .menu-wrapper .mobile-icons {
        height: inherit; }
        header .mobile-menu .menu-wrapper .mobile-icons.breadcrumb {
          width: 50px;
          height: 50px;
          background-image: url("../img/breadcrumb.svg");
          background-repeat: no-repeat;
          margin: 0 10px 0 0; }
    header .mobile-menu .hidden-menu {
      width: 100%;
      background-color: #f2f2f2;
      display: none;
      flex-direction: column;
      margin: 0 auto; }
      header .mobile-menu .hidden-menu .hidden-item {
        display: flex;
        width: 90%;
        margin: 0 auto;
        color: #474747;
        text-transform: uppercase; }
        header .mobile-menu .hidden-menu .hidden-item:first-of-type {
          margin-top: 20px; }
        header .mobile-menu .hidden-menu .hidden-item:focus {
          outline: none; }
        header .mobile-menu .hidden-menu .hidden-item .hidden-search, header .mobile-menu .hidden-menu .hidden-item .hidden-link {
          padding: 0 0 0 55px;
          height: 40px; }
        header .mobile-menu .hidden-menu .hidden-item .hidden-link {
          width: 90%; }
          header .mobile-menu .hidden-menu .hidden-item .hidden-link:hover {
            color: orange; }
        header .mobile-menu .hidden-menu .hidden-item .hidden-search {
          width: 90%;
          height: 40px;
          background-image: url(../img/search.svg);
          background-size: 22px;
          background-repeat: no-repeat;
          background-position: 18px center;
          color: #999;
          font-size: 20px;
          margin: 20px auto 0;
          outline: 0;
          border-radius: 20px;
          border: 1px solid #f2f2f2; }

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto; }
  @media screen and (max-width: 1600px) {
    .wrapper {
      max-width: 1600px; } }
  @media screen and (max-width: 1420px) {
    .wrapper {
      max-width: 1420px; } }
  @media screen and (max-width: 1366px) {
    .wrapper {
      max-width: 1366px; } }
  @media screen and (max-width: 1024px) {
    .wrapper {
      max-width: 1024px; } }
  @media screen and (max-width: 900px) {
    .wrapper {
      max-width: 900px; } }
  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 768px; } }
  @media screen and (max-width: 740px) {
    .wrapper {
      max-width: 740px; } }
  @media screen and (max-width: 600px) {
    .wrapper {
      max-width: 600px; } }
  @media screen and (max-width: 540px) {
    .wrapper {
      max-width: 540px; } }
  @media screen and (max-width: 420px) {
    .wrapper {
      max-width: 414px; } }
  @media screen and (max-width: 375px) {
    .wrapper {
      max-width: 375px; } }

.cta-shop {
  width: 100%;
  display: flex;
  justify-content: center; }
  .cta-shop .cta--link {
    width: 100%;
    max-width: 197px;
    background-color: #1976a1;
    box-sizing: border-box;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 0 17px 0;
    cursor: pointer; }
  .cta-shop .cta--link:hover {
    opacity: 0.65; }

.hero--section {
  width: 100%;
  padding: 27px 0 160px 0;
  background-image: url("../img/hero.png");
  background-color: #ececec;
  background-repeat: no-repeat;
  background-position: -160px -120px; }
  @media screen and (max-width: 1420px) {
    .hero--section {
      background-size: 80%;
      background-position: -200px -120px; } }
  @media screen and (max-width: 1024px) {
    .hero--section {
      padding: 0 0 30px;
      background-size: 65%;
      background-position: -80px -3px; } }
  @media screen and (max-width: 768px) {
    .hero--section {
      background-size: 60%;
      background-position: -60px 195px;
      padding: 20px 0 130px; } }
  @media screen and (max-width: 740px) {
    .hero--section {
      background-size: contain;
      background-position: 20px 320px;
      padding: 20px 0 310px; } }
  @media screen and (max-width: 375px) {
    .hero--section {
      background-position: 20px 332px; } }
  .hero--section .wrapper {
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 768px) {
      .hero--section .wrapper {
        flex-direction: row; } }
    @media screen and (max-width: 740px) {
      .hero--section .wrapper {
        flex-direction: column; } }
    .hero--section .wrapper .intel-container {
      width: 100%;
      display: flex;
      justify-content: flex-end; }
      @media screen and (max-width: 768px) {
        .hero--section .wrapper .intel-container {
          justify-content: center; } }
      @media screen and (max-width: 740px) {
        .hero--section .wrapper .intel-container {
          justify-content: flex-end; } }
      .hero--section .wrapper .intel-container .logo {
        width: 305px;
        height: auto;
        padding: 0 33px 0 0; }
        @media screen and (max-width: 768px) {
          .hero--section .wrapper .intel-container .logo {
            width: unset;
            height: 80px; } }
        @media screen and (max-width: 740px) {
          .hero--section .wrapper .intel-container .logo {
            width: unset;
            height: 60px;
            padding: 0 15px 0 0; } }
    .hero--section .wrapper .intro {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin: 90px 0 0 0; }
      @media screen and (max-width: 768px) {
        .hero--section .wrapper .intro {
          margin: 110px 0 0; } }
      @media screen and (max-width: 740px) {
        .hero--section .wrapper .intro {
          margin: 20px 0 0; } }
      .hero--section .wrapper .intro .info-container {
        max-width: 497px;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 232px 0 0; }
        @media screen and (max-width: 1600px) {
          .hero--section .wrapper .intro .info-container {
            padding: 0 15px 0 0; } }
        @media screen and (max-width: 1420px) {
          .hero--section .wrapper .intro .info-container {
            padding: 0 110px 0 0; } }
        @media screen and (max-width: 1024px) {
          .hero--section .wrapper .intro .info-container {
            padding: 0 20px 0px 0; } }
        @media screen and (max-width: 740px) {
          .hero--section .wrapper .intro .info-container {
            margin: 0 auto;
            padding: 0; } }
        @media screen and (max-width: 375px) {
          .hero--section .wrapper .intro .info-container {
            max-width: 370px; } }
        .hero--section .wrapper .intro .info-container .info-title {
          max-width: inherit;
          color: #ff6a00;
          font-size: 61px;
          font-weight: 300;
          margin: 0;
          text-transform: uppercase; }
          @media screen and (max-width: 740px) {
            .hero--section .wrapper .intro .info-container .info-title {
              font-size: 52px; } }
          @media screen and (max-width: 375px) {
            .hero--section .wrapper .intro .info-container .info-title {
              font-size: 45px; } }
          .hero--section .wrapper .intro .info-container .info-title .color-grey {
            color: #494949; }
        .hero--section .wrapper .intro .info-container .info-subtitle {
          color: #212121;
          font-size: 28px;
          font-weight: 300;
          text-align: center;
          margin: 0 0 26px 0; }
          @media screen and (max-width: 740px) {
            .hero--section .wrapper .intro .info-container .info-subtitle {
              font-size: 26px; } }
          @media screen and (max-width: 375px) {
            .hero--section .wrapper .intro .info-container .info-subtitle {
              font-size: 23px;
              line-height: 26px; } }
        .hero--section .wrapper .intro .info-container .cta {
          width: 100%;
          max-width: 235px;
          display: flex;
          justify-content: center; }
          .hero--section .wrapper .intro .info-container .cta .cta-button {
            width: 100%;
            max-width: 235px;
            background-color: #ffc82e;
            border: 1px solid #d48e08;
            box-sizing: border-box;
            border-radius: 5px;
            color: #222222;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            padding: 15px 0 17px 0;
            cursor: pointer; }
          .hero--section .wrapper .intro .info-container .cta .cta-button:hover {
            background-color: #222222;
            color: #ffc82e; }

.windowsink--section {
  width: 100%;
  background-image: url("../img/section2-back.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -125px -175px; }
  @media screen and (min-width: 1921px) {
    .windowsink--section {
      background-size: cover;
      background-position: center center; } }
  @media screen and (max-width: 1420px) {
    .windowsink--section {
      background-size: 160%;
      background-position: -325px 0px; } }
  @media screen and (max-width: 768px) {
    .windowsink--section {
      background-size: 140%;
      background-position: -165px 0px; } }
  @media screen and (max-width: 740px) {
    .windowsink--section {
      background-size: 200%;
      padding: 30px 0 440px;
      background-position: -655px 0px; } }
  @media screen and (max-width: 600px) {
    .windowsink--section {
      background-size: 230%; } }
  @media screen and (max-width: 420px) {
    .windowsink--section {
      background-size: 300%;
      padding: 30px 0 440px;
      background-position: -655px 0px; } }
  @media screen and (max-width: 375px) {
    .windowsink--section {
      background-size: 360%;
      background-position: -755px 0px; } }
  .windowsink--section .wrapper {
    display: flex;
    justify-content: flex-start; }
    .windowsink--section .wrapper .windows-container {
      width: 50%;
      align-items: center;
      background-color: #3e8ddd;
      box-sizing: border-box;
      display: flex;
      max-width: 417px;
      opacity: 0.89;
      margin: 0 0 0 274px;
      padding: 277px 55px 242px 57px; }
      @media screen and (max-width: 1024px) {
        .windowsink--section .wrapper .windows-container {
          width: 36%;
          margin: 0 0 0 45px;
          padding: 177px 57px 170px 57px; } }
      @media screen and (max-width: 768px) {
        .windowsink--section .wrapper .windows-container {
          padding: 105px 0 105px 0; } }
      @media screen and (max-width: 740px) {
        .windowsink--section .wrapper .windows-container {
          width: 100%;
          max-width: unset;
          margin: 0;
          padding: 0; } }
      .windowsink--section .wrapper .windows-container .text-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column; }
        @media screen and (max-width: 740px) {
          .windowsink--section .wrapper .windows-container .text-container {
            padding: 20px 10px; } }
        .windowsink--section .wrapper .windows-container .text-container .title, .windowsink--section .wrapper .windows-container .text-container .subtitle {
          color: #ffffff;
          font-weight: 300;
          margin: 0; }
        .windowsink--section .wrapper .windows-container .text-container .title {
          font-size: 45px;
          margin: 0 0 60px 0; }
          @media screen and (max-width: 1024px) {
            .windowsink--section .wrapper .windows-container .text-container .title {
              font-size: 42px; } }
          @media screen and (max-width: 768px) {
            .windowsink--section .wrapper .windows-container .text-container .title {
              font-size: 40px; } }
          @media screen and (max-width: 740px) {
            .windowsink--section .wrapper .windows-container .text-container .title {
              font-size: 35px;
              margin: 0 0 10px 0; } }
        .windowsink--section .wrapper .windows-container .text-container .subtitle {
          font-size: 30px;
          line-height: 33px;
          text-align: center; }
          @media screen and (max-width: 1024px) {
            .windowsink--section .wrapper .windows-container .text-container .subtitle {
              font-size: 27px;
              line-height: 30px; } }
          @media screen and (max-width: 768px) {
            .windowsink--section .wrapper .windows-container .text-container .subtitle {
              font-size: 24px;
              line-height: 27px; } }
          @media screen and (max-width: 420px) {
            .windowsink--section .wrapper .windows-container .text-container .subtitle {
              font-size: 18px;
              line-height: 24px; } }

.sticky--section {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 50px 0 110px 0; }
  .sticky--section .wrapper {
    display: flex;
    flex-direction: column; }
    .sticky--section .wrapper .title-container {
      width: 90%;
      display: flex;
      justify-content: center;
      margin: 0 auto; }
      @media screen and (max-width: 420px) {
        .sticky--section .wrapper .title-container {
          width: 70%;
          flex-direction: column; } }
      .sticky--section .wrapper .title-container .title {
        align-self: center;
        font-size: 50px;
        font-weight: 300;
        margin: 0 26px 0 0; }
        @media screen and (max-width: 420px) {
          .sticky--section .wrapper .title-container .title {
            text-align: center;
            margin: 0; } }
      .sticky--section .wrapper .title-container .logo {
        height: 88px; }
        @media screen and (max-width: 420px) {
          .sticky--section .wrapper .title-container .logo {
            align-self: center; } }
    .sticky--section .wrapper .sticky-wrapper {
      width: 90%;
      margin: 80px auto 0;
      display: flex;
      justify-content: center; }
      @media screen and (max-width: 1420px) {
        .sticky--section .wrapper .sticky-wrapper {
          justify-content: space-between; } }
      @media screen and (max-width: 768px) {
        .sticky--section .wrapper .sticky-wrapper {
          margin: 50px auto 0; } }
      @media screen and (max-width: 740px) {
        .sticky--section .wrapper .sticky-wrapper {
          flex-direction: column;
          align-items: center; } }
      .sticky--section .wrapper .sticky-wrapper .sticky {
        width: 30%;
        max-width: 525px;
        align-items: center;
        display: flex;
        flex-direction: column; }
        @media screen and (max-width: 1420px) {
          .sticky--section .wrapper .sticky-wrapper .sticky {
            max-width: 420px; } }
        @media screen and (max-width: 740px) {
          .sticky--section .wrapper .sticky-wrapper .sticky {
            width: 90%;
            max-width: 520px; } }
        @media screen and (max-width: 740px) {
          .sticky--section .wrapper .sticky-wrapper .sticky {
            width: 90%;
            margin: 0 0 40px 0; } }
        .sticky--section .wrapper .sticky-wrapper .sticky .sticky-title {
          font-size: 40px;
          font-weight: 300;
          margin: 0 0 34px 0;
          text-align: center; }
          @media screen and (max-width: 768px) {
            .sticky--section .wrapper .sticky-wrapper .sticky .sticky-title {
              width: 90%; } }
        .sticky--section .wrapper .sticky-wrapper .sticky .sticky-img {
          width: 520px;
          height: auto; }
          @media screen and (max-width: 1600px) {
            .sticky--section .wrapper .sticky-wrapper .sticky .sticky-img {
              max-width: 430px; } }
          @media screen and (max-width: 1420px) {
            .sticky--section .wrapper .sticky-wrapper .sticky .sticky-img {
              max-width: 400px; } }
          @media screen and (max-width: 1024px) {
            .sticky--section .wrapper .sticky-wrapper .sticky .sticky-img {
              max-width: 310px; } }
          @media screen and (max-width: 768px) {
            .sticky--section .wrapper .sticky-wrapper .sticky .sticky-img {
              max-width: 222px; } }
          @media screen and (max-width: 740px) {
            .sticky--section .wrapper .sticky-wrapper .sticky .sticky-img {
              max-width: 350px; } }
          @media screen and (max-width: 420px) {
            .sticky--section .wrapper .sticky-wrapper .sticky .sticky-img {
              max-width: 350px; } }
        .sticky--section .wrapper .sticky-wrapper .sticky .sticky-description {
          max-width: 370px;
          max-height: 98px;
          font-size: 25px;
          font-weight: 300;
          line-height: 25px;
          overflow: hidden;
          text-align: justify; }
          @media screen and (max-width: 1420px) {
            .sticky--section .wrapper .sticky-wrapper .sticky .sticky-description {
              max-width: 290px;
              font-size: 21px; } }
          @media screen and (max-width: 1420px) {
            .sticky--section .wrapper .sticky-wrapper .sticky .sticky-description {
              max-width: 230px; } }
          @media screen and (max-width: 768px) {
            .sticky--section .wrapper .sticky-wrapper .sticky .sticky-description {
              max-width: 160px;
              font-size: 16px; } }
          @media screen and (max-width: 420px) {
            .sticky--section .wrapper .sticky-wrapper .sticky .sticky-description {
              max-width: 280px;
              font-size: 22px;
              text-align: center; } }

.fourth--section {
  width: 100%;
  background-color: #4ac0e0;
  background-image: url("../img/section4-back.png");
  color: #ffffff;
  padding: 247px 0 272px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 170px; }
  @media screen and (max-width: 1420px) {
    .fourth--section {
      background-position: -100px 170px; } }
  @media screen and (max-width: 1024px) {
    .fourth--section {
      background-position: 140px 180px;
      padding: 30px 0 400px 0; } }
  @media screen and (max-width: 768px) {
    .fourth--section {
      background-position: -40px 245px;
      padding: 90px 0 430px 0; } }
  @media screen and (max-width: 740px) {
    .fourth--section {
      background-position: -40px 245px; } }
  @media screen and (max-width: 600px) {
    .fourth--section {
      background-position: -40px 265px;
      padding: 50px 0 340px; } }
  @media screen and (max-width: 420px) {
    .fourth--section {
      background-position: -20px 335px;
      padding: 90px 0 310px 0; } }
  @media screen and (max-width: 375px) {
    .fourth--section {
      background-position: -55px 362px;
      background-size: 120%; } }
  .fourth--section .wrapper {
    display: flex;
    justify-content: flex-end; }
    @media screen and (max-width: 1024px) {
      .fourth--section .wrapper {
        justify-content: center; } }
    .fourth--section .wrapper .wrapper-description {
      width: 40%;
      max-width: 305px;
      display: flex;
      flex-direction: column;
      margin-right: 327px; }
      @media screen and (max-width: 1420px) {
        .fourth--section .wrapper .wrapper-description {
          margin-right: 140px; } }
      @media screen and (max-width: 1024px) {
        .fourth--section .wrapper .wrapper-description {
          width: 90%;
          max-width: 925px;
          align-items: center;
          margin: 0 auto; } }
      .fourth--section .wrapper .wrapper-description .title {
        font-size: 45px;
        font-weight: 300;
        margin: 0 0 53px 0; }
        @media screen and (max-width: 1024px) {
          .fourth--section .wrapper .wrapper-description .title {
            margin: 0 0 10px 0; } }
      .fourth--section .wrapper .wrapper-description .description {
        max-height: 290px;
        font-size: 30px;
        font-weight: 300;
        line-height: 33px;
        overflow: hidden;
        text-align: center; }
        @media screen and (max-width: 1024px) {
          .fourth--section .wrapper .wrapper-description .description {
            font-size: 26px;
            line-height: 30px; } }
        @media screen and (max-width: 1024px) {
          .fourth--section .wrapper .wrapper-description .description {
            font-size: 22px;
            line-height: 25px; } }

.fifth--section {
  width: 100%;
  background-color: #d9d8d6;
  padding: 40px 0 43px 0; }
  .fifth--section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .fifth--section .wrapper .title-wrapper {
      display: flex;
      flex-direction: column; }
      .fifth--section .wrapper .title-wrapper .title {
        color: #000000;
        font-size: 50px;
        font-weight: 300;
        margin: 0 0 70px 0; }
        @media screen and (max-width: 420px) {
          .fifth--section .wrapper .title-wrapper .title {
            margin: 0 0 40px 0; } }
      .fifth--section .wrapper .title-wrapper .description {
        align-self: center;
        color: #1c1c1c;
        font-size: 30px;
        font-weight: 400; }
    .fifth--section .wrapper .product-wrapper {
      width: 90%;
      display: flex;
      flex-direction: column;
      position: relative; }
      @media screen and (max-width: 420px) {
        .fifth--section .wrapper .product-wrapper {
          width: 95%;
          margin: 30px 0 0 0; } }
      .fifth--section .wrapper .product-wrapper .pendesc-wrapper {
        width: 100%;
        max-width: 275px;
        align-items: center;
        display: flex;
        color: #ffffff;
        flex-direction: column;
        z-index: 100;
        position: absolute;
        top: 20px;
        left: 70px; }
        @media screen and (max-width: 1600px) {
          .fifth--section .wrapper .product-wrapper .pendesc-wrapper {
            top: 15px;
            left: 40px; } }
        @media screen and (max-width: 1420px) {
          .fifth--section .wrapper .product-wrapper .pendesc-wrapper {
            max-width: 260px;
            top: 10px;
            left: 25px; } }
        @media screen and (max-width: 1024px) {
          .fifth--section .wrapper .product-wrapper .pendesc-wrapper {
            max-width: 190px;
            top: 0px;
            left: 18px; } }
        @media screen and (max-width: 768px) {
          .fifth--section .wrapper .product-wrapper .pendesc-wrapper {
            max-width: 155px;
            top: 0px;
            left: 5px; } }
        @media screen and (max-width: 740px) {
          .fifth--section .wrapper .product-wrapper .pendesc-wrapper {
            max-width: 85px;
            top: 5px;
            left: 35px; } }
        @media screen and (max-width: 600px) {
          .fifth--section .wrapper .product-wrapper .pendesc-wrapper {
            left: 25px; } }
        @media screen and (max-width: 420px) {
          .fifth--section .wrapper .product-wrapper .pendesc-wrapper {
            left: 5px;
            top: 0px;
            max-width: 75px; } }
        .fifth--section .wrapper .product-wrapper .pendesc-wrapper .pendesc {
          font-size: 34px;
          font-weight: 400;
          margin: 0 0 10px 0; }
          @media screen and (max-width: 1420px) {
            .fifth--section .wrapper .product-wrapper .pendesc-wrapper .pendesc {
              font-size: 32px; } }
          @media screen and (max-width: 1024px) {
            .fifth--section .wrapper .product-wrapper .pendesc-wrapper .pendesc {
              font-size: 26px; } }
          @media screen and (max-width: 1024px) {
            .fifth--section .wrapper .product-wrapper .pendesc-wrapper .pendesc {
              font-size: 20px;
              margin: 0 0 5px 0; } }
          @media screen and (max-width: 740px) {
            .fifth--section .wrapper .product-wrapper .pendesc-wrapper .pendesc {
              font-size: 19px;
              text-align: center; } }
          @media screen and (max-width: 420px) {
            .fifth--section .wrapper .product-wrapper .pendesc-wrapper .pendesc {
              font-size: 15px; } }
        .fifth--section .wrapper .product-wrapper .pendesc-wrapper .pensubtext {
          font-size: 25px;
          font-weight: 300;
          text-align: center; }
          @media screen and (max-width: 1420px) {
            .fifth--section .wrapper .product-wrapper .pendesc-wrapper .pensubtext {
              font-size: 23px; } }
          @media screen and (max-width: 1024px) {
            .fifth--section .wrapper .product-wrapper .pendesc-wrapper .pensubtext {
              font-size: 17px; } }
          @media screen and (max-width: 1024px) {
            .fifth--section .wrapper .product-wrapper .pendesc-wrapper .pensubtext {
              font-size: 12px; } }
          @media screen and (max-width: 740px) {
            .fifth--section .wrapper .product-wrapper .pendesc-wrapper .pensubtext {
              visibility: hidden; } }
      .fifth--section .wrapper .product-wrapper .main-pen {
        width: 100%;
        height: auto; }
      .fifth--section .wrapper .product-wrapper .wrapper-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0 0 0; }
        .fifth--section .wrapper .product-wrapper .wrapper-description .price {
          color: #1c1c1c;
          font-size: 28px;
          font-weight: 300;
          margin: 0 0 30px 0; }
          .fifth--section .wrapper .product-wrapper .wrapper-description .price .blue {
            color: #3e8ddd;
            font-weight: 400; }
        .fifth--section .wrapper .product-wrapper .wrapper-description .description {
          color: #271410;
          font-size: 20px;
          font-weight: 400; }
          @media screen and (max-width: 420px) {
            .fifth--section .wrapper .product-wrapper .wrapper-description .description {
              margin: 0 0 5px 0; } }
        .fifth--section .wrapper .product-wrapper .wrapper-description .disclaimer {
          font-size: 18px;
          text-align: center; }
          @media screen and (max-width: 420px) {
            .fifth--section .wrapper .product-wrapper .wrapper-description .disclaimer {
              width: 90%; } }
          .fifth--section .wrapper .product-wrapper .wrapper-description .disclaimer .small {
            font-size: 14px; }
        .fifth--section .wrapper .product-wrapper .wrapper-description .cta-shop {
          margin: 30px 0 0 0; }
      .fifth--section .wrapper .product-wrapper .see-more {
        align-self: center;
        font-size: 25px;
        font-weight: 400;
        cursor: pointer;
        margin: 90px 0 0 0; }
      .fifth--section .wrapper .product-wrapper .see-more:after {
        width: 23px;
        height: 23px;
        content: "";
        display: inline-block;
        background: url("../img/plus.png") no-repeat;
        background-size: contain;
        margin: 0 0 0 5px;
        position: relative;
        top: 4px; }

.hidden {
  display: none; }

.hidden-products {
  width: 100%;
  background-color: #e3e3e3;
  color: #1c1c1c;
  padding: 0px 0 65px 0;
  transition: all 0.3s ease-in; }
  .hidden-products .wrapper {
    display: flex;
    flex-direction: column; }
    .hidden-products .wrapper .arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 31px 60.5px 0 60.5px;
      border-color: #d9d8d6 transparent transparent transparent;
      align-self: center; }
    .hidden-products .wrapper .products-container {
      display: flex;
      margin: 30px 0 0 0; }
      @media screen and (max-width: 600px) {
        .hidden-products .wrapper .products-container {
          align-items: center;
          flex-direction: column; } }
      .hidden-products .wrapper .products-container .product {
        width: 50%;
        display: flex;
        justify-content: center; }
        @media screen and (max-width: 600px) {
          .hidden-products .wrapper .products-container .product {
            width: 100%; } }
        .hidden-products .wrapper .products-container .product .detail-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .hidden-products .wrapper .products-container .product .detail-wrapper .product-title {
            font-size: 30px;
            font-weight: 400;
            margin: 0 0 55px 0; }
          .hidden-products .wrapper .products-container .product .detail-wrapper .product-img {
            width: auto;
            height: auto;
            min-height: 61px;
            margin: 0 0 47px 0; }
            @media screen and (max-width: 1420px) {
              .hidden-products .wrapper .products-container .product .detail-wrapper .product-img {
                width: 80%;
                height: auto;
                min-height: 48px; } }
            @media screen and (max-width: 768px) {
              .hidden-products .wrapper .products-container .product .detail-wrapper .product-img {
                min-height: 28px; } }
          .hidden-products .wrapper .products-container .product .detail-wrapper .price {
            font-size: 28px;
            font-weight: 300;
            margin: 0 0 10px 0; }
          .hidden-products .wrapper .products-container .product .detail-wrapper .disclaimer {
            font-size: 18px;
            font-weight: 400;
            text-align: center; }
            @media screen and (max-width: 768px) {
              .hidden-products .wrapper .products-container .product .detail-wrapper .disclaimer {
                width: 65%; } }
            @media screen and (max-width: 600px) {
              .hidden-products .wrapper .products-container .product .detail-wrapper .disclaimer {
                width: 80%; } }
            @media screen and (max-width: 420px) {
              .hidden-products .wrapper .products-container .product .detail-wrapper .disclaimer {
                width: 75%; } }
          @media screen and (max-width: 768px) {
            .hidden-products .wrapper .products-container .product .detail-wrapper .disclaimer:last-child {
              width: 58%; } }
          @media screen and (max-width: 600px) {
            .hidden-products .wrapper .products-container .product .detail-wrapper .disclaimer:last-child {
              width: 75%; } }
          .hidden-products .wrapper .products-container .product .detail-wrapper .cta-shop {
            margin: 36px 0 0 0; }
      .hidden-products .wrapper .products-container .divisor {
        width: 1px;
        height: 250px;
        align-self: center;
        border: 0.5px solid #6f7170; }
        @media screen and (max-width: 600px) {
          .hidden-products .wrapper .products-container .divisor {
            width: 340px;
            margin: 50px auto;
            height: 1px; } }

.sixth--section {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 40px 0 132px 0; }
  @media screen and (max-width: 420px) {
    .sixth--section {
      padding: 40px 0 60px 0; } }
  .sixth--section .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sixth--section .wrapper .title {
      font-size: 50px;
      font-weight: 300;
      margin: 0 0 56px 0; }
    .sixth--section .wrapper .choice-wrapper {
      width: 100%;
      max-width: 716px;
      align-self: center;
      display: flex;
      justify-content: center;
      margin: 0 0 124px 0; }
      @media screen and (max-width: 420px) {
        .sixth--section .wrapper .choice-wrapper {
          max-width: 370px;
          margin: 0 0 40px 0; } }
      .sixth--section .wrapper .choice-wrapper .button {
        width: 50%;
        display: flex;
        justify-content: center;
        background-color: #b8b8b8;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        font-size: 25px;
        font-weight: 300;
        padding: 21px 0 17px 0; }
        .sixth--section .wrapper .choice-wrapper .button:hover {
          background-color: #4ac0e0; }
        .sixth--section .wrapper .choice-wrapper .button:first-of-type {
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
          margin-right: 1px; }
        .sixth--section .wrapper .choice-wrapper .button:last-of-type {
          border-bottom-left-radius: 0px;
          border-top-left-radius: 0px; }
        @media screen and (max-width: 420px) {
          .sixth--section .wrapper .choice-wrapper .button {
            align-items: center;
            font-size: 20px;
            padding: 20px 0;
            text-align: center; } }
      .sixth--section .wrapper .choice-wrapper .triangle {
        background-color: #4ac0e0; }
    .sixth--section .wrapper .products-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      @media screen and (max-width: 1024px) {
        .sixth--section .wrapper .products-wrapper {
          flex-wrap: wrap; } }
      .sixth--section .wrapper .products-wrapper .product {
        width: 22%;
        max-width: 422px;
        border-right: 1px solid #bcbcbc;
        padding: 0 30px; }
        .sixth--section .wrapper .products-wrapper .product:last-child {
          border: none; }
          @media screen and (max-width: 1024px) {
            .sixth--section .wrapper .products-wrapper .product:last-child {
              border-right: 1px solid #bcbcbc; } }
          @media screen and (max-width: 600px) {
            .sixth--section .wrapper .products-wrapper .product:last-child {
              border-right: none; } }
        @media screen and (max-width: 1024px) {
          .sixth--section .wrapper .products-wrapper .product {
            width: 40%;
            max-width: 420px; }
            .sixth--section .wrapper .products-wrapper .product:nth-of-type(3), .sixth--section .wrapper .products-wrapper .product:nth-of-type(4) {
              margin-top: 80px; } }
        @media screen and (max-width: 600px) {
          .sixth--section .wrapper .products-wrapper .product {
            width: 90%;
            border: none; }
            .sixth--section .wrapper .products-wrapper .product:nth-of-type(3), .sixth--section .wrapper .products-wrapper .product:nth-of-type(4) {
              margin: 0px; } }
        .sixth--section .wrapper .products-wrapper .product .columnizer {
          display: flex;
          flex-direction: column;
          align-items: center; }
          @media screen and (max-width: 600px) {
            .sixth--section .wrapper .products-wrapper .product .columnizer {
              margin: 0 0 30px 0;
              border-bottom: 1px solid #bcbcbc; } }
          .sixth--section .wrapper .products-wrapper .product .columnizer .product-img {
            width: 100%;
            height: auto;
            min-height: 236px; }
            @media screen and (max-width: 1420px) {
              .sixth--section .wrapper .products-wrapper .product .columnizer .product-img {
                width: 80%;
                height: auto;
                min-height: 136px; } }
          .sixth--section .wrapper .products-wrapper .product .columnizer .product-title {
            font-size: 30px;
            font-weight: 300;
            max-width: 395px;
            margin: 30px 0; }
          .sixth--section .wrapper .products-wrapper .product .columnizer .product-desc {
            font-size: 20px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
            margin: 0 0 22px 0; }
            @media screen and (max-width: 1366px) {
              .sixth--section .wrapper .products-wrapper .product .columnizer .product-desc {
                font-size: 19px;
                line-height: 23px; } }
          .sixth--section .wrapper .products-wrapper .product .columnizer .stars {
            color: #cdcccb; }
            .sixth--section .wrapper .products-wrapper .product .columnizer .stars .checked {
              color: #dd1e2e; }
            .sixth--section .wrapper .products-wrapper .product .columnizer .stars .text {
              color: #464646;
              font-size: 18px;
              font-weight: 300; }
          .sixth--section .wrapper .products-wrapper .product .columnizer .price {
            font-family: "Helvetica Neue LT Std - Md";
            font-size: 30px;
            font-weight: 400;
            letter-spacing: 0.75px;
            margin: 30px 0; }
            .sixth--section .wrapper .products-wrapper .product .columnizer .price .liltext {
              font-size: 14px;
              display: block; }
          @media screen and (max-width: 600px) {
            .sixth--section .wrapper .products-wrapper .product .columnizer .cta-shop {
              margin: 0 0 30px 0; } }

/*# sourceMappingURL=styles.css.map */
