@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import 'normalize.css';
@import 'variables.scss';

* {padding: 0; margin: 0;}
html {font-family: $Lato; }

body {width: 100%;}

a { text-decoration: none;}
a:visited { color: unset;}

li {list-style-type: none;}

.fixed {
	position:fixed;
	z-index: 100;
}

// Iphone X Landscape:
@media only screen 
 	and (min-device-width: 375px) 
	and (max-device-width: 812px) 
	and (-webkit-min-device-pixel-ratio: 3)
	and (orientation: landscape) { 
	.hero--section {
		background-size: 75%;
		background-position: -80px 47px;
	}
	.intel-container { padding-top:10px;}
	.info-container{
		max-width: 317px;
		.info-title {font-size: 41px;}
		.info-subtitle {font-size: 22px;}
	}
}


header {
	width: 100%;
	.menu-desktop {
		width: 100%;
		background-color: $colorWhite;
		display: flex;
		justify-content: space-between;
		align-content:center;
		max-height: 75px;
		@media screen and (max-width: $mobile-992){
			display:none;
		}
		.main-list {
			width: 30%;
			max-width: 400px;
			align-items:center;
			display:flex;
			justify-content:space-between;
			@media screen and (max-width: $desk-1024){
				width: 35%;
			}
			.main-item{
				width:25%;
				color: #474747;
				text-transform: uppercase;
				text-align:center;
				&:nth-of-type(1){
					width: 65px;
					align-self: flex-start;
					background-color:#f20029;
					height:200px;
					z-index: 100;
					img { width:65px; height: auto; align-self:center;}
				}
				.main-link{
					&:nth-of-type(1) {
						background-image: url()
					}
					&:hover {
						color: orange;
						border-bottom: solid 2px orange;
					}
				}
			}
		}
		.second-list {
		    max-width: 500px;
			width: 40%;
			color: #a6a6a6;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-around;
		    padding-right:10px;
		    @media screen and (max-width: $desk-1240){
		    	width: 55%;
				max-width: 550px;
		    }
		    .first-row, .second-row {
		    	display:flex;
		    	justify-content: space-around;
		    	align-items:center;
		    }
		    .first-row {
		    	.first-row-items {
		    		margin: 0 7.5px;
		    		.first-row-link {

		    		}
		    	}
		    	.chat:before {
		    		align-self:center;
		    		background-image: url('../img/chat.svg');
		    		width:20px;
		    		height:20px;
		    		content: ' ';
		    		display:inline-block;
		    		background-size:20px;
		    		background-repeat: no-repeat;
		    	}
		    	&.stretched-row {
		    		width: 40%;
		    		max-width: unset;
		    	}
		    }
		    .second-row {
		    	padding-bottom:5px;
		    	.second-row-items {
		    		max-height:21px;
		    		.second-row-link {
		    			padding: 3px 0 0 3px;

		    		}
		    		.search {
		    			    width: 100%;
						    max-width: 200px;
						    background-position: 10px center;
						    color: #a6a6a6;
						    padding: 0 10px 0 35px;
					        background-color: #fff;
						    background-image: url(../img/search.svg);
						    background-size: 18px;
						    background-repeat: no-repeat;
						    border-radius: 20px;
						    border: 1px solid #a6a6a6;
						    &:focus {
						    	outline:none;	
						    }
		    		}
		    	}
		    	.work:before, .community:before , .user:before , .cart:before {
	    			width:20px;
	    			height:20px;
	    			display:inline-block;
					content: ' ';
	    			background-size:20px;
	    			background-repeat: no-repeat;
	    			cursor: pointer;
	    		}
	    		.work:before {
	    			background-image: url('../img/work.svg');
	    		}
	    		.community:before {
	    			background-image: url('../img/community.svg');
	    		}
	    		.user:before {
	    			background-image: url('../img/user.svg');
	    		}
	    		.cart:before {
	    			background-image: url('../img/cart.svg');
	    		}
		    	&.stretched-row {
		    		width: 60%;
		    		max-width: unset;
					justify-content: space-around;
		    	}
		    }
			&.stretched {
				display:flex;
			    flex-direction: row;
			    width: 60%;
			    max-width: unset;
			    justify-content: center;
			    padding-right:0px;
			}
		}
	}
	.mobile-menu {
		width:100%;
		display:none;
		background-color: $colorWhite;
		@media screen and (max-width:$mobile-992){
			display:block;
		}
		.menu-wrapper {	
			width: 100%;
			display:flex;
			justify-content: space-between;
			align-items:center;
			height:50px;
			.mobile-icons {
				height:inherit;
				img {
					
				}
				&.breadcrumb {
				    width: 50px;
					height:50px;
					background-image: url('../img/breadcrumb.svg');
				    background-repeat: no-repeat;
				    margin: 0 10px 0 0 ;

				}
			}
		}
		.hidden-menu {
			width:100%;
			background-color:#f2f2f2;
			display: none;
			flex-direction:column;
			margin: 0 auto;
			.hidden-item {
				display:flex;
				width: 90%;
				margin: 0 auto;
				color: #474747;
				text-transform: uppercase;
				&:first-of-type {
					margin-top: 20px;
				}
				&:focus {
					outline: none;
				}
				.hidden-search, .hidden-link {
			    padding: 0 0 0 55px;
			    height: 40px
				}
				.hidden-link {
					width: 90%;
					&:hover {
					color:orange;	
					}
				}
				.hidden-search {
					width: 90%;
   					height: 40px;
				    background-image: url(../img/search.svg);
				    background-size: 22px;
				    background-repeat: no-repeat;
				    background-position: 18px center;
				    color: #999;
				    font-size: 20px;
				    margin: 20px auto 0;
				    outline: 0;
				    border-radius:20px;
				    border: 1px solid #f2f2f2;
 
				}
			}
		}
	}
}

.wrapper {
	width: 100%;
	max-width: 1920px;
	margin:auto;
	@media screen and (max-width: $desk-1600) {
		max-width: $desk-1600;
	}
	@media screen and (max-width:$desk-1420){
		max-width:1420px;
	}	
	@media screen and (max-width:$desk-1366){
		max-width:1366px;
	}
	@media screen and (max-width: $desk-1024){
		max-width:1024px;
	}
	@media screen and (max-width: $mobile-900){
		max-width:900px;
	}
	@media screen and (max-width: $mobile-768){
		max-width:768px;
	}
	@media screen and (max-width: $mobile-740){
		max-width:740px;
	}
	@media screen and (max-width: $mobile-600){
		max-width: 600px;
	}
	@media screen and (max-width: $mobile-540){
		max-width:540px;
	}
	@media screen and (max-width: $mobile-420){
		max-width:414px;
	}
	@media screen and (max-width: $mobile-375){
		max-width:375px;
	}
}
.cta-shop {
	width:100%;
	display:flex;
	justify-content: center;
	.cta--link {
		width:100%;
		max-width: 197px;
		background-color: $buttonBlue;
		box-sizing:border-box;
		border-radius: 5px;
		color: $colorWhite;
		font-size: 16px;
		font-weight:400;
		text-align:center;
		text-transform: uppercase;
		text-decoration:none;
		padding: 15px 0 17px 0;
		cursor:pointer;
	}
	.cta--link:hover {
		opacity: 0.65;
	}

}
.hero--section {
	width: 100%;
	padding: 27px 0 160px 0;
	background-image: url('../img/hero.png');
	background-color: #ececec;
	background-repeat: no-repeat;
	background-position: -160px -120px;
	@media screen and (max-width: $desk-1420){
	    background-size: 80%;
	    background-position: -200px -120px;
	}
	@media screen and (max-width: $desk-1024){
	    padding: 0 0 30px;
	    background-size: 65%;
	    background-position: -80px -3px;
	}
	@media screen and (max-width: $mobile-768){
		background-size: 60%;
		background-position: -60px 195px;
		padding: 20px 0 130px;
	}
	@media screen and (max-width: $mobile-740){
	    background-size: contain;
	    background-position: 20px 320px;
	    padding: 20px 0 310px;
	}
	@media screen and (max-width: $mobile-375){
		background-position: 20px 332px;
	}
	.wrapper {
		display:flex;
		flex-direction:column;
		@media screen and (max-width: $mobile-768){
			flex-direction: row;
		}
		@media screen and (max-width: $mobile-740){
			flex-direction: column;
		}
		.intel-container {
			width:100%;
			display:flex;
			justify-content:flex-end;
			@media screen and (max-width: $mobile-768) {
				justify-content:center;
			}
			@media screen and (max-width: $mobile-740) {
				justify-content:flex-end;
			}

			.logo {
				width:305px;
				height:auto;
				padding: 0 33px 0 0;
				@media screen and (max-width: $mobile-768){
					width:unset;
					height:80px;
				}
				@media screen and (max-width: $mobile-740){
					width:unset;
					height:60px;
					padding: 0 15px 0 0;
				}
			}
		}
		.intro {
			width:100%;
			display:flex;
			justify-content:flex-end;
			margin: 90px 0 0 0;
			@media screen and (max-width: $mobile-768){
				margin: 110px 0 0;
			}
			@media screen and (max-width: $mobile-740){
				margin: 20px 0 0;
			}
			.info-container {
				max-width: 497px;	
				align-items:center;
				display:flex;
				flex-direction:column;
			    padding: 0 232px 0 0;
			    @media screen and (max-width: $desk-1600){
			    	padding: 0 15px 0 0;
			    }
			    @media screen and (max-width: $desk-1420){
			    	padding: 0 110px 0 0;
			    }
			    @media screen and (max-width: $desk-1024){
			    	padding: 0 20px 0px 0;
			    }
			    @media screen and (max-width: $mobile-740){
			    	margin: 0 auto;
			    	padding: 0;
			    }
			    @media screen and (max-width: $mobile-375){
			    	max-width: 370px;
			    }
				.info-title {
					max-width: inherit;
					color:#ff6a00;
					font-size: 61px;
					font-weight: 300;
					margin: 0;
					text-transform: uppercase;
					@media screen and (max-width: $mobile-740){
						font-size: 52px;
					}
					@media screen and (max-width: $mobile-375){
						font-size: 45px;
					}
					.color-grey {
						color: #494949;
					}
				}
				.info-subtitle {
					color:#212121;
					font-size:28px;
					font-weight:300;
					text-align:center;
					margin: 0 0 26px 0;
					@media screen and (max-width: $mobile-740){
						font-size: 26px;
					}
					@media screen and (max-width: $mobile-375){
						font-size: 23px;
						line-height: 26px;
					}
				}
				.cta {
					width:100%;
					max-width: 235px;
					display:flex;
					justify-content: center;
					.cta-button {
						width:100%;
						max-width: 235px;
						background-color: #ffc82e;
						border: 1px solid #d48e08;
						box-sizing:border-box;
						border-radius: 5px;
						color: #222222;
						font-size: 16px;
						font-weight:400;
						text-align:center;
						text-transform: uppercase;
						text-decoration:none;
						padding: 15px 0 17px 0;
						cursor:pointer;
					}
					.cta-button:hover {
						background-color: #222222;
						color: #ffc82e;
					}
				}
			}
		}
	}
}

.windowsink--section {
	width: 100%;
	background-image: url('../img/section2-back.jpg');
	background-repeat: no-repeat;
	background-size: auto;
    background-position: -125px -175px;
    @media screen and (min-width: 1921px) {
   		background-size: cover;
    	background-position: center center;
    }
    @media screen and (max-width: $desk-1420){
	    background-size: 160%;
	    background-position: -325px 0px;
    }
    @media screen and (max-width: $mobile-768){
    	background-size: 140%;
    	background-position: -165px 0px;
    }
    @media screen and (max-width: $mobile-740){
	    background-size: 200%;
	    padding: 30px 0 440px; 
	    background-position: -655px 0px;
       }
    @media screen and (max-width: $mobile-600){
    	background-size: 230%;
    }   
    @media screen and (max-width: $mobile-420){
	    background-size: 300%;
	    padding: 30px 0 440px; 
	    background-position: -655px 0px;
       }
	@media screen and (max-width: $mobile-375){
		background-size: 360%;
	    background-position: -755px 0px;
	} 
	.wrapper {
		display:flex;
		justify-content:flex-start;
		.windows-container {
			width:50%;
			align-items:center;
			background-color: #3e8ddd;
			box-sizing: border-box;
			display:flex;
			max-width: 417px;
			opacity: 0.89;
			margin: 0 0 0 274px;
			padding: 277px 55px 242px 57px;
			@media screen and (max-width: $desk-1024){
				width:36%;
				margin: 0 0 0 45px;
			    padding: 177px 57px 170px 57px;
			}
			@media screen and (max-width: $mobile-768){
			    padding: 105px 0 105px 0;
			}
			@media screen and (max-width: $mobile-740){
				width: 100%;
				max-width: unset;
				margin: 0;
				padding: 0;
			}
			.text-container {
				width:100%;
				display:flex;
				align-items:center;
				flex-direction:column;
				@media screen and (max-width: $mobile-740){
					padding: 20px 10px;
				}		
				.title, .subtitle {
					color: $colorWhite;
					font-weight: 300;
					margin: 0;
				}
				.title {font-size: 45px; margin: 0 0 60px 0;
					@media screen and (max-width: $desk-1024){
						font-size:42px;
					}
					@media screen and (max-width: $mobile-768){
						font-size: 40px;
					}
					@media screen and (max-width: $mobile-740){
						font-size: 35px;
						margin: 0 0 10px 0;
					}
				}
				.subtitle {
					font-size: 30px;
					line-height: 33px;
					text-align:center;
					@media screen and (max-width: $desk-1024){
						font-size:27px;
						line-height:30px;
					}
					@media screen and (max-width: $mobile-768){
						font-size:24px;
						line-height: 27px;
					}
					@media screen and (max-width: $mobile-420){
					    font-size: 18px;
					    line-height: 24px;
					}
				}
			}
		}
	}
}

.sticky--section {
	width: 100%;
	background-color: $colorWhite;
	color: $colorBlack;
	padding: 50px 0 110px 0;
	.wrapper {
		display:flex;
		flex-direction: column;
		.title-container {
			width:90%;
			display:flex;
			justify-content:center;
			margin: 0 auto;
			@media screen and (max-width: $mobile-420){
				width: 70%;
				flex-direction: column;
			}
			.title {
				align-self: center;
				font-size: 50px;
				font-weight: 300;
			    margin: 0 26px 0 0;
			    @media screen and (max-width: $mobile-420){
			    	text-align: center;
			    	margin: 0;
			    }	
			}
			.logo {
				height:88px;
				@media screen and (max-width: $mobile-420){
				    align-self: center;
				}
			}
		}
		.sticky-wrapper {
		    width: 90%;
		    margin: 80px auto 0;
			display:flex;
			justify-content:center;
			@media screen and (max-width: $desk-1420){
				justify-content: space-between;
			}
			@media screen and (max-width: $mobile-768){
				margin: 50px auto 0;
			}
			@media screen and (max-width: $mobile-740){
			    flex-direction: column;
			    align-items: center;
			}		
			.sticky {
				width:30%;
				max-width:525px;
				align-items:center;
				display:flex;
				flex-direction:column;
				@media screen and (max-width: $desk-1420){
					max-width: 420px;
				}
				@media screen and (max-width: $mobile-740){
					width: 90%;
					max-width: 520px;
				}
				@media screen and (max-width: $mobile-740){
					width:90%;
					margin: 0 0 40px 0;
				}
				.sticky-title {
					font-size: 40px;
					font-weight: 300;
					margin: 0 0 34px 0;
					text-align:center;
					@media screen and (max-width: $mobile-768){
						width:90%;
					}

				}
				.sticky-img {
					width:520px;
					height:auto;
					@media screen and (max-width: $desk-1600){
						max-width: 430px;
					}
					@media screen and (max-width: $desk-1420){
						max-width:400px;
					}
					@media screen and (max-width: $desk-1024){
						max-width:310px;
					}
					@media screen and (max-width: $mobile-768){
						max-width:222px;
					}
					@media screen and (max-width: $mobile-740){
						max-width: 350px;
					}
					@media screen and (max-width: $mobile-420){
						max-width: 350px;
					}
				}
				.sticky-description {
					max-width: 370px;
					max-height: 98px;
					font-size: 25px;
					font-weight: 300;
					line-height: 25px;
					overflow:hidden;
					text-align: justify;
					@media screen and (max-width: $desk-1420){
						max-width:290px;
						font-size: 21px;
					}
					@media screen and (max-width: $desk-1420){
						max-width:230px;
					}
					@media screen and (max-width: $mobile-768){
						max-width:160px;
						font-size: 16px;
					}
					@media screen and (max-width: $mobile-420){
					    max-width: 280px;
					    font-size: 22px;
					    text-align: center;
					}
				}
			}
		}
	}
}

.fourth--section {
	width:100%;
	background-color:#4ac0e0;
	background-image: url('../img/section4-back.png');
	color: $colorWhite;
	padding: 247px 0 272px 0;
	background-size: contain;
	background-repeat: no-repeat;
    background-position: 0 170px;
    @media screen and (max-width:$desk-1420){
    	background-position: -100px 170px;
    }
    @media screen and (max-width:$desk-1024){
    	background-position:140px 180px;
    	padding: 30px 0 400px 0;
    }
    @media screen and (max-width: $mobile-768){
	    background-position: -40px 245px;
	    padding: 90px 0 430px 0;
    }
    @media screen and (max-width: $mobile-740){
	    background-position: -40px 245px;
    }
    @media screen and (max-width: $mobile-600){
    	background-position: -40px 265px;
    	padding: 50px 0 340px;
    }
    @media screen and (max-width: $mobile-420){
	    background-position: -20px 335px;
	    padding: 90px 0 310px 0;
    }
    @media screen and (max-width: $mobile-375){
    	background-position: -55px 362px;
    	background-size: 120%;
    }
	.wrapper {
		display:flex;
		justify-content:flex-end;
		@media screen and (max-width:$desk-1024){
			justify-content:center;
		}
		.wrapper-description {
			width: 40%;
			max-width: 305px;
			display:flex;
			flex-direction:column;
			margin-right: 327px;
			@media screen and (max-width:$desk-1420){
				margin-right: 140px;
			}
			@media screen and (max-width:$desk-1024){
			    width: 90%;
			    max-width: 925px;
			    align-items:center;
			    margin: 0 auto;
			}
			.title {
				font-size: 45px;
				font-weight: 300;
				margin: 0 0 53px 0;
				@media screen and (max-width: $desk-1024){
					margin: 0 0 10px 0;
				}
			}
			.description {
			    max-height: 290px;
				font-size: 30px;
				font-weight: 300;
				line-height: 33px;			
			    overflow: hidden;
			    text-align:center;
			    @media screen and (max-width: $desk-1024){
					font-size: 26px;
					line-height:30px;
			    }
			    @media screen and (max-width: $desk-1024){
					font-size: 22px;
				    line-height: 25px;
			    }
			}
		}
	}
}

.fifth--section {
	width:100%;
	background-color:#d9d8d6;
	padding: 40px 0 43px 0;
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		.title-wrapper {
			display:flex;
			flex-direction: column;
			.title {
				color: $colorBlack;
				font-size: 50px;
				font-weight: 300;
				margin:  0 0 70px 0;
				@media screen and (max-width: $mobile-420){
					margin: 0 0 40px 0;
				}
			}
			.description {
				align-self: center;
				color: $lenovoBlack;
				font-size: 30px;
				font-weight: 400;
			}
		}
		.product-wrapper {
			width:90%;
			display:flex;
			flex-direction:column;
			position:relative;
			@media screen and (max-width: $mobile-420){
				width: 95%;
				margin: 30px 0 0 0;
			}
			.pendesc-wrapper{
				width: 100%;
				max-width:275px;
				align-items: center;
				display:flex;
				color: $colorWhite;
				flex-direction: column;
				z-index:100;
				position:absolute;
				top: 20px;
				left: 70px;
				@media screen and(max-width: $desk-1600){
					top: 15px;
					left: 40px;
				}
				@media screen and (max-width: $desk-1420){
					max-width:260px;
				    top: 10px;
				    left: 25px;
				}
				@media screen and (max-width: $desk-1024){
				    max-width: 190px;
				    top: 0px;
				    left: 18px;
				}
				@media screen and (max-width: $mobile-768){
					max-width: 155px;
				    top: 0px;
				    left: 5px;
				}
				@media screen and (max-width: $mobile-740){
					max-width: 85px;
					top: 5px;
				    left: 35px;
				}
				@media screen and (max-width: $mobile-600){
					left:25px;
				}
				@media screen and (max-width: $mobile-420){
					left: 5px;
					top:0px;
					max-width: 75px;
				}
				.pendesc {
					font-size: 34px;
					font-weight: 400;
					margin: 0 0 10px 0;
					@media screen and (max-width: $desk-1420){
						font-size:32px;
					}
					@media screen and (max-width: $desk-1024){
						font-size:26px;
					}
					@media screen and (max-width: $desk-1024){
						font-size:20px;
						margin: 0 0 5px 0;
					}
					@media screen and (max-width: $mobile-740){
						font-size: 19px;
						text-align:center;
					}
					@media screen and (max-width: $mobile-420){
					    font-size: 15px;
					}
				}
				.pensubtext {
					font-size: 25px;
					font-weight: 300;
					text-align:center;
				@media screen and (max-width: $desk-1420){
						font-size:23px;
					}
				@media screen and (max-width: $desk-1024){
						font-size:17px;
					}
				@media screen and (max-width: $desk-1024){
						font-size:12px;
					}
				@media screen and (max-width: $mobile-740){
					visibility:hidden;
					}						
				}
			}
			.main-pen {
				width:100%;
				height: auto;
			}
			.wrapper-description{
				display:flex;
				flex-direction:column;
				align-items:center;
			    margin: 60px 0 0 0;
				.price {
					color: #1c1c1c;
					font-size: 28px;
					font-weight: 300;
					margin:  0 0 30px 0;
					.blue {
						color: #3e8ddd;
						font-weight: 400;
					}
				}
				.description {
					color: #271410;
					font-size: 20px;
					font-weight: 400;
					@media screen and (max-width: $mobile-420){
						margin: 0 0 5px 0;
					}
				}
				.disclaimer {
					font-size: 18px;
					text-align:center;
					@media screen and (max-width: $mobile-420){
						width: 90%;
					}
					.small {
					font-size: 14px;
					}
				}
				.cta-shop {
					margin: 30px 0 0 0;
				}
			}
			.see-more {
				align-self: center;
				font-size: 25px;
				font-weight: 400;
				cursor: pointer;
				margin: 90px 0 0 0 ;
			}	
			.see-more:after {
			    width: 23px;
			    height: 23px;
			    content: "";
			    display: inline-block;
			    background: url("../img/plus.png") no-repeat;
			    background-size: contain;
			    margin: 0 0 0 5px;
			    position:relative;
			    top:4px;
			}
		}
	}
}
.hidden {
		display:none;	
	}
.hidden-products {
	width:100%;
	background-color:#e3e3e3;
	color: $lenovoBlack;
	padding: 0px 0 65px 0;
  	transition:all 0.3s ease-in;

	.wrapper {
		display:flex;
		flex-direction:column;
		.arrow {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 31px 60.5px 0 60.5px;
			border-color: #d9d8d6 transparent transparent transparent;
			align-self:center;
		}
		.products-container {
			display:flex;
			margin:30px 0 0 0;
			@media screen and (max-width:$mobile-600){
				align-items:center;
				flex-direction: column;
			}
			.product {
				width: 50%;
				display:flex;
				justify-content:center;
				@media screen and (max-width: $mobile-600){
					width:100%;
				}
				.detail-wrapper {
					display:flex;
					flex-direction: column;
					align-items: center;
					.product-title {
						font-size: 30px;
						font-weight: 400;
					    margin: 0 0 55px 0;

					}
					.product-img {
						width:auto;
						height:auto;
						min-height: 61px;
						margin: 0 0 47px 0;
						@media screen and (max-width:$desk-1420){
							width: 80%;
						    height: auto;
						    min-height: 48px;
						}
						@media screen and (max-width:$mobile-768){
							min-height:28px;
						}
					}
					.price {
						font-size: 28px;
						font-weight: 300;
					    margin: 0 0 10px 0;
					}
					.disclaimer {
						font-size: 18px;
						font-weight: 400;
						text-align:center;
						@media screen and (max-width: $mobile-768){
							width:65%;
						}
						@media screen and (max-width: $mobile-600){
							width:80%;
						}
						@media screen and (max-width: $mobile-420){
							width:75%;
						}
					}
					.disclaimer:last-child {
						@media screen and (max-width: $mobile-768){
							width: 58%;
						}
						@media screen and (max-width: $mobile-600){
							width:75%;
						}
					}
					.cta-shop {
						margin: 36px 0 0 0;
						.cta--link {
							
						}
					}
				}
			}
			.divisor {
			    width: 1px;
			    height: 250px;
			    align-self: center;
			    border: 0.5px solid #6f7170;
			    @media screen and (max-width: $mobile-600){
		    	    width: 340px;
				    margin: 50px auto;
				    height: 1px;
			    }
			}
		}	
	}	
}

.sixth--section {
	width:100%;
	background-color:$colorWhite;
	color: $colorBlack;
	padding: 40px 0 132px 0;
	@media screen and (max-width: $mobile-420){
		padding: 40px 0 60px 0;
	}
	.wrapper {
		display:flex;
		flex-direction:column;
		align-items:center;
		.title {
			font-size: 50px;
			font-weight: 300;
			margin: 0 0 56px 0;
		}
		.choice-wrapper {
			width:100%;
			max-width: 716px;
			align-self:center;
			display:flex;
			justify-content:center;
		    margin: 0 0 124px 0;
		    @media screen and (max-width: $mobile-420){
		    	max-width: 370px;
		    	margin: 0 0 40px 0;
		    }
			.button {
				width:50%;
				display:flex;
				justify-content:center;
				background-color: #b8b8b8;
				border-radius: 5px;
				color: $colorWhite;
				cursor: pointer;
				font-size: 25px;
				font-weight: 300;
				padding: 21px 0 17px 0;
				&:hover{
					background-color: #4ac0e0;
				}	
				&:first-of-type {
					border-bottom-right-radius: 0px;
					border-top-right-radius: 0px;
					margin-right:1px;
				}
				&:last-of-type {
					border-bottom-left-radius: 0px;
					border-top-left-radius: 0px;
				}
				@media screen and (max-width:$mobile-420){
					align-items:center;
					font-size: 20px;
					padding: 20px 0;
					text-align:center;
				}
			}
			.triangle {
				background-color: #4ac0e0;
			}
		}
		.products-wrapper {
			width:100%;
			display:flex;
			justify-content:space-around;
			@media screen and (max-width: $desk-1024){
			    flex-wrap: wrap;
			}
			.product {
				width:22%;
				max-width:422px;
				border-right:1px solid #bcbcbc;
				padding: 0 30px;
				&:last-child {
					border:none;
					@media screen and (max-width: $desk-1024){
						border-right:1px solid #bcbcbc;						
					}
					@media screen and (max-width: $mobile-600){
						border-right: none;
					}
				}
				@media screen and (max-width: $desk-1024){
					width: 40%;
				    max-width: 420px;
				    &:nth-of-type(3), &:nth-of-type(4)  {
				    	margin-top: 80px;
				    }				    
				}
				@media screen and (max-width: $mobile-600){
					width:90%;
					border:none;
				    &:nth-of-type(3), &:nth-of-type(4)  {
				    	margin: 0px;
				    }	
				}
				.columnizer {
					display:flex;
					flex-direction:column;
					align-items:center;
					@media screen and (max-width:$mobile-600){
						margin: 0 0 30px 0;
						border-bottom:1px solid #bcbcbc;
					}
					.product-img {
						width:100%;
						height:auto;
						min-height:236px;
						@media screen and (max-width: $desk-1420){
						    width: 80%;
						    height: auto;
						    min-height: 136px;
						}
					}
					.product-title {
						font-size: 30px;
						font-weight: 300;
						max-width:395px;
						margin: 30px 0;
					}
					.product-desc {
						font-size: 20px;
						font-weight: 300;
						line-height: 24px;
						text-align:center;
						margin: 0 0 22px 0;
						@media screen and (max-width: $desk-1366){
							font-size:19px;
							line-height:23px;
						}

					}
					.stars {
						color:#cdcccb;
						.checked {
						    color: #dd1e2e;
						}
						.text {
							color: #464646;
							font-size: 18px;
							font-weight:300;
						}
					}
					.price {
						font-family: "Helvetica Neue LT Std - Md";
						font-size: 30px;
						font-weight:400;
						letter-spacing: 0.75px;
						margin: 30px 0;
						.liltext {
							font-size: 14px;
							display:block;
						}
					}
					.cta-shop {
						@media screen and (max-width: $mobile-600){
						    margin: 0 0 30px 0;
						}
					}
				}	
			}
		}
	}
}