/* Variables */

$Lato: Lato, sans-serif;

$colorWhite: #ffffff;
$colorBlack: #000000;
$buttonBlue: #1976a1;
$lenovoBlack: #1c1c1c;


// For media-queries:

$desk-1920: 1920px;
$desk-1600: 1600px;
$desk-1420: 1420px;
$desk-1366: 1366px;
$desk-1240: 1240px;
$desk-1024: 1024px;

$mobile-992: 992px;
$mobile-900: 900px;
$mobile-768: 768px; // Ipad
$mobile-740: 740px;
$mobile-600: 600px;
$mobile-540: 540px;
$mobile-420: 420px;
$mobile-375: 375px;
$mobile-375: 375px;
$mobile-320: 320px;
